body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.Menu{
    display: flex;
    justify-content: center;
}
.Alunos{
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    justify-content: center;
}

.Aluno_caixa{
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 300px;
    height: 200px;
    margin: 20px;
    border-color: black;
    border-radius: 10px;
    padding: 20px;
    background-color: aqua;
}

.Nome_aluno{
    font-weight: bold;
}

.Button_Informacoes_Aluno_01{
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
}
.Button_Informacoes_Aluno_01:hover
{
    background-color: aquamarine;
    zoom: 110%;
    color: black;
}

.popup{
    display: flex;
}

a.popup{
    color: brown;
}