body{
  background-color: wheat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.toolbar {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-size: large;
    font-weight: 400;
    background-color: rgb(241, 204, 134);
    border-radius: 0 0 10px 10px; /* Adicionando bordas arredondadas na parte inferior */
    min-width: 480px;
    border-bottom: 4px solid black;
  }

  .toolbar ul {
    list-style: none;
  }

  .toolbar a {
    color: #5654b3;
    margin-right: 3rem;
    text-decoration: none;
    font-weight: bold;
  }

  .links-container {
    display: flex;
    flex-direction: row;
  }

  .caixa-texto{
    border-radius: 5px;
  }

  .inicio-toolbar:hover{
    color: blue;
    zoom: 105%;
  }

  .button-search{
    width: 40px;
    height: 30px;
    border-radius: 5px;
  }
  .button-search:hover{
    zoom: 115%;
  }

  .text-bx{
    width: 40%;
}
.text-bx h1{
    font-size:  3rem;
    text-transform: uppercase;

}
.text-bx  h1 b{
    color: #372c62;

}   
.text-bx p{
    color: #5654b3;
    font-weight: 400;
    margin-top: 20px;
}
.text-bx.input-bx{
    margin: 20px 0;
    display: flex;
}
.text-bx .input-bx inout{
    width: 60%;
    display: block;
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
    color: aqua;
    font-size: 16px;
}
.text-bx .imput-bx input::placeholder{
    color: blue;

}
.text-bx .input-bx button{
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: #5654b3;
    color: white;
    cursor:pointer;
    font-size: 15px;
}

.Menu{
    display: flex;
    justify-content: center;
}

.Alunos{
    display: flex;
    perspective: 1000px;
    justify-content: center;
  
    padding: auto;
}

.Aluno_caixa{
    display: flex;
    width: 300px;
    height: 200px;
    margin: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 20px;
    background-color: aqua;
    padding: auto;
}

.Nome_Aluno{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.Semestre_Aluno{
    display: flex;
    justify-items: stretch;
    padding: 10px;
}

.Curso_Aluno{
    display: flex;
    justify-items: stretch;
    padding: 10px;
}

.Article_Button{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.Button_Informacoes_Aluno{
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
}

.Button_Informacoes_Aluno:hover
{
    background-color: aquamarine;
    zoom: 110%;
    color: black;
}

.Popup{
    display:none;
    position: absolute;
    perspective: 1000px;
    padding: 5px;
    justify-content: center;
    width: 500px;
    height: auto;
    background-color: rgba(0, 195, 255, 0.986);
    border-radius: 10px;
}

.Informacao_Aluno_Popup{
  background-color: azure;
  border-radius: 5px;
  padding: 5px;
  padding: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Article_Popup{
    display: flex;
    text-align: justify;
    margin: 2px;
    padding: 20px;
    border-radius: 5px;
    background-color: aliceblue;
}

.Nome_Aluno_Popup{
  color: black;
  text-decoration: none;
  font-weight: bold;

}

.Fechar_Popup{
  display: flex;
  justify-content: end;
  text-decoration: none;
}
.Button_Fechar{
  color: black;
  text-decoration: none;
}

.Article_Button_Pop
{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.Button_Editar_Pop{
    display: flex;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
}

.Button_Editar_Pop:hover{
    background-color: aqua;
    zoom: 110%;
    color: black;
}

footer {
  background-color: rgb(241, 204, 134);
  color: black;
  padding: 40px 0;
  border: 4px solid black;
}

footer h4 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin-bottom: 10px;
}

footer a {
  color: #fff;
}

footer .container {
  max-width: 1000px;
  margin: 0 auto;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col-md-4 {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

@media (max-width: 767px) {
  footer .col-md-4 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}